section {
    height: 100vh;
    border: 1px solid yellowgreen
}

html {
    font-size: 125%;
}
h1 {
    font-size: 5rem;
    color: tomato;
}
section.landing {
    background: #0055ff;
}

section.result {
    display: none;
    background: #884444;
}