$headingFont: "Shrikhand", cursive;
$bodyFont: "Raleway", sans-serif;
$landingText: #102542;
$resultText: #f9dec9;
$resultButtonShaddow: #ddbda4;

@mixin selectBackground($image) {
    background: url(../assets/downIcon.png), $image, #c9f1ff;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 95% center, 3% center;
}

@mixin dateBackground($image) {
    background: $image, #c9f1ff;
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: 7% center;
}

@mixin formInputStyling($paddingTop, $paddingRight, $paddingBottom, $paddingLeft) {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    color: $landingText;
    border-radius: 30px;
    padding: $paddingTop $paddingRight $paddingBottom $paddingLeft;
    font-weight: 400;
}

@mixin buttonStyle($color1, $color2, $color3, $fontSize) {
    background: $color1;
    box-shadow: 0 6px $color2; 
    padding: 20px 50px;
    border: none;
    font-family: $bodyFont;
    color: $color3;
    border-radius: 50px;
    position: relative;
    font-size: $fontSize;
    transition: top .5s;
    text-align: center;
}

@mixin buttonHover ($color) {
    top: 2px;
    box-shadow: 0 4px $color;
}

@mixin heading ($color) {
    font-size: 5rem;
    font-family: $headingFont;
    text-align: center;
    margin-bottom: 0;
    color: $color;
}

section {
    height: 100vh;
}

html {
    font-size: 125%;
}

section.result {
    display: none;
}