h1 {
    @include heading($landingText);
    margin-top: 0;
}

p {
    font-family: $bodyFont;
    color: $landingText;
}

.flower {
    position: relative;
}

.flowerGraphic{
    width: 80%;
}

.speechBubble {
    position: absolute;
    top: -80px;
    right: -70px;
    width: 200px;
}

.flower p:nth-of-type(1) {
    font-size: 1.5rem;
    position: absolute;
    top: -80px;
    right: -50px;
    font-size: 1.8rem; 
    font-weight: 700;
    font-family:"Gloria Hallelujah", cursive;
}

.landing {
    background: url(../assets/sky2.png);
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
}

.info {
    width: 40%;
}

.landingContent {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1100px;
    margin: 50px auto 0;
}

form {
    display: flex;
    flex-direction: column;
    font-family: $bodyFont;
    margin-top: 50px;
}

select[name="country"] {
    @include selectBackground(url(../assets/countriesBW.png));
}

select[name="country"]:focus, select[name="country"]:hover  {
     @include selectBackground(url(../assets/countriesColor.png));
}

select[name="gender"] {
    @include selectBackground((url(../assets/userBW.png)));
}

select[name="gender"]:focus, select[name="gender"]:hover  {
     @include selectBackground(url(../assets/userColor.png));
}

select, input[type="date"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    color: $landingText;
    border-radius: 30px;
    padding: 10px 40px;
    margin: 5px 0;
}

input[type="date"] {
    @include dateBackground(url(../assets/birthdayBW.png));
    font-weight: 400;
    margin-bottom: 10px;
}

input[type="date"]:focus, input[type="date"]:hover {
    @include dateBackground(url(../assets/birthdayColor.png));
}

input[type="date"]:focus, input[type="submit"]:focus, select:focus {
    box-shadow: 0 0 10px #102542;
}

input[type="submit"] {
    @include buttonStyle(#c9f1ff, #b1e9fd, $landingText, 1rem);
    &:hover {
        @include buttonHover(#b1e9fd);
    }
}

label, input {
    margin: 5px 0;
    font-weight: 700;
}

@media (max-width: 1180px) {
    .landingContent {
        width: 90%
    }
}

@media (max-width: 960px) {
    .speechBubble {
        right: -50px;
    }
    .flower p:nth-of-type(1) {
        right: -30px;
    }
}