// TEXT
h1 {
    @include heading($landingText);
    margin-top: 0;
}

p {
    font-family: $bodyFont;
    color: $landingText;
}

// GENERAL SECTION STYLES
.flower {
    position: relative;
}

.flowerGraphic{
    width: 80%;
}

.speechBubble {
    position: absolute;
    top: -80px;
    right: -70px;
    width: 200px;
}

.flower p {
    font-size: 1.5rem;
    position: absolute;
    top: -80px;
    right: -50px;
    font-size: 1.8rem; 
    font-weight: 700;
    font-family: "Gloria Hallelujah", cursive;
}

.landing {
    background: url(../assets/sky.png);
    background-size: cover;
    background-position: center bottom;
    overflow: hidden;
    min-height: 700px;
}

.info {
    width: 40%;
}

.landingContent {
    display: flex;
    justify-content: space-around;
    width: 80%;
    max-width: 1100px;
    margin: 50px auto 0;
}

// FORM STYLES
form {
    display: flex;
    flex-direction: column;
    font-family: $bodyFont;
    margin-top: 50px;
}

select[name="country"] {
    @include selectBackground(url(../assets/countriesBW.png));
}

select[name="country"]:focus, select[name="country"]:hover  {
     @include selectBackground(url(../assets/countriesColor.png));
}

select[name="gender"] {
    @include selectBackground((url(../assets/userBW.png)));
}

select[name="gender"]:focus, select[name="gender"]:hover  {
     @include selectBackground(url(../assets/userColor.png));
}

select {
    @include formInputStyling(10px, 40px, 10px, 40px);
    margin: 5px 0;
}

fieldset {
    border: none;
    padding: 0;
}

.birthdayContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

legend {
    font-weight: 700;
    margin: 5px 0;
}

input[name="year"] {
    @include dateBackground(url(../assets/birthdayBW.png));
    @include formInputStyling(10px, 30px, 10px, 30px);
    margin: 5px 5px 5px 0;
    width: calc(40% - (20px/3));
    text-align: center;
}

input[name="month"], input[name="day"] {
    @include formInputStyling(10px, 10px, 10px, 10px);
    background: #c9f1ff;
    width: calc(30% - (20px/3));
    text-align: center;
    width: 25%;
}

input[name="month"] {
    margin: 5px;
}

input[name="day"] {
    margin: 5px 0 5px 5px;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance:textfield; 
}

input[name="year"]:focus, input[name="year"]:hover, input[name="month"]:hover ~ input[name="year"], input[name="month"]:focus ~ input[name="year"], input[name="day"]:hover ~ input[name="year"], input[name="day"]:focus ~ input[name="year"]{
    @include dateBackground(url(../assets/birthdayColor.png));
}

input[type="number"]:focus, input[type="submit"]:focus, select:focus {
    box-shadow: 0 0 10px #102542;
}

input[type="submit"] {
    @include buttonStyle(#c9f1ff, #b1e9fd, $landingText, 1rem);
    white-space: normal;
    margin-top: 20px;
    &:hover {
        @include buttonHover(#b1e9fd);
    }
}

label, input {
    margin: 5px 0;
    font-weight: 700;
    color: $landingText;
}

// MEDIA QUERIES
@media (max-width: 1180px) {
    .landingContent {
        width: 90%
    }
}

@media (max-width: 960px) {
    .speechBubble {
        right: -50px;
    }
    .flower p {
        right: -30px;
    }
    h1 {
        font-size: 4.2rem;
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 3.9rem;
        width: 95%;
        margin: 0 auto;
    }
    .landingContent {
        .flowerGraphic {
            width: 250px;
        }
        .info {
            width: 60%;
            margin-top: 50px;
        }
        .speechBubble {
            right: -180px;
            top: -60px;
        }
        .flower p {
            right: -160px;
            top: -60px;
        }
    }
}

@media (max-width: 690px) {
    h1 {
        padding: 20px 0 80px;
        line-height: 1;
    }
    .landing {
        min-height: 1400px;
    }
    .landingContent {
        font-size: 1.3rem;
        margin-top: 80px;
        width: 80%;
        flex-direction: column;
        align-items: center;
        .flowerGraphic {
            width: 350px;
        }
        .info {
            margin-top: 0;
            width: 100%;
        }
        .speechBubble {
            right: -70px;
            top: -160px;
        }
        .flower p {
            right: -50px;
            top: -160px;
        }
    }
    form {
        margin-top: 30px;
        text-align: center;
        label, input, select, legend {
            margin: 20px 0px;
        }
        legend {
            width: 100%;
            text-align: center;
        }
        input[type="number"] {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 500px) {
    h1 {
        font-size: 2.8rem;
    }
    .landingContent {
        margin-top: 50px;
        width: 90%;
        .flowerGraphic {
            width: 300px;
        }
        .speechBubble {
            width: 160px;
            top: -130px;
            right: -20px;
        }
        .flower p {
            font-size: 1.4rem;
            right: -10px;
            top: -130px;
        }
    }
}