// TEXT
h2 {
  @include heading(#f9dec9);
  z-index: 10;
}

// GENERAL SECTION STYLES
.result {
  background: url(../assets/ground.png);
  background-size: cover;
  background-position: center top;
  flex-direction: column;
  justify-content: space-between;
  min-height: 700px;
  display: none;
  p {
    font-family: $bodyFont;
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.timeLeft {
  width: 100%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

li {
  z-index: 10;
}

.result p {
  text-align: center;
  color: $resultText;
}

ul p:nth-of-type(1) {
  font-size: 6rem;
  margin: 50px 0 0;
  font-family: $bodyFont;
  font-weight: 700;
  width: 156px;
}

ul p:nth-of-type(2) {
  margin-top: 0;
  text-transform: uppercase;
}

button {
  @include buttonStyle($resultText, $resultButtonShaddow, #4e342e, 1rem);
  &:hover {
    @include buttonHover($resultButtonShaddow);
  }
  &:focus {
    border: 3px solid #00aa55;
    border-radius: 50px;
  }
}

footer p {
  width: 90%;
  margin: 0px auto 5px;
  a {
    color: #f9dec9;
  }
  img {
    width: 20px;
    display: inline-block;
  }
}

// MEDIA QUERIES
@media (max-width: 1180px) {
  .result .wrapper {
    width: 90%;
  }

  h2 {
    font-size: 4.5rem;
  }
  ul p:nth-of-type(1) {
    font-size: 5rem;
    width: 120px;
  }
}

@media (max-width: 850px) {
  h2 {
    font-size: 4rem;
    margin-top: 100px;
  }
  ul p:nth-of-type(1) {
    font-size: 4rem;
    width: 100px;
  }
  footer p {
    font-size: 0.8rem;
  }
}

@media (max-width: 690px) {
  .result {
    min-height: 1400px;
  }
  ul {
    flex-direction: column;
    align-items: center;
  }
  h2 {
    font-size: 3.5rem;
    margin-top: 100px;
  }
  ul p:nth-of-type(1) {
    margin: 0 0 0;
    font-size: 4.5rem;
    width: 130px;
  }
}

@media (max-width: 690px) {
  h2 {
    font-size: 3rem;
  }
}

@media (max-width: 528px) {
  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 428px) {
  ul {
    margin: 0 0;
  }
}
